
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
.playwright-browsers/

# Application
app/node_modules/
app/dist/
app/**/*.tsbuildinfo

# Environment
.env
.env.*
